# Main Frameworks
streamlit>=1.40.0
langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0

# Google & HuggingFace (The Engines)
langchain-google-genai>=2.0.0
langchain-huggingface
google-generativeai
sentence-transformers

# Storage & Search
faiss-cpu
pypdf2

# UI & Utilities
streamlit-extras
python-dotenv
pydantic>=2.0.0
