# Core App Framework
streamlit==1.50.0

# AI and LangChain
langchain>=0.3.0
langchain-community
langchain-google-genai
langchain-core
langchain-text-splitters
pydantic
langchain-google-genai
streamlit_extras

# Data and Vector Search
faiss-cpu
PyPDF2
pandas
numpy

# Utilities
python-dotenv
google-generativeai
sentence-transformers
tqdm

# Streamlit Components (Extras)
streamlit-extras
streamlit-card
st-annotated-text
